
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label{
  @apply text-xs;
}
.input-box{
  @apply flex flex-col mb-3;
}
.input-fields{
  @apply border border-[#7C878E] mt-1 px-5 outline-0 py-2 rounded-3xl;
}
.nav-link{
  @apply text-white mx-4 text-sm;
}
#wb_active_tab{
  @apply text-primary opacity-[1];
}
#indicate{
  @apply opacity-[1];
}
#active-tab-content{
  @apply block;
}
#active-sidebar{
  @apply w-full px-4;
}
#sidebar_hide{
  @apply w-0 hidden;
}
#shidebar_show{
  @apply w-1/4;
}
#show_side_left{
  @apply w-3/4;
}
#hide_side_left{
  @apply w-full px-6;
}
#show_side_btn_con{
  
}
#hide_side_btn_con{
    @apply justify-center;
}
#show_side_btn{
  @apply rounded-l-none w-[90%];
}
.logsc{
  background-image: url('../src/assets/images/3.jpg');
}